@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply m-0 p-0 w-full h-full;
}

@layer base {
  *, ::before, ::after {
    box-sizing: content-box;
  }
  html {
    font-size: clamp(20px, 1.3vw, 40px);
    line-height: normal;
  }
  button {
    font-family: inherit;
  }
}

@font-face {
  font-family: 'Noto Sans Lao SemiCondensed';
  src: url('./assets/NotoSansLao_SemiCondensed-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}